__pycache__/
*.egg-info
*.err
*.out

## Log dirs
*_logs*
score_gen_latent_data
cond_samples
one_mom_sample
pretrained
protons64*
wandb

## Temporary 
z_imgs.png
ztest.png
zzz*

## builds with LDM repo (unmodified) 
taming
src